<h2>会員情報編集</h2>

<%= form_with(model: @customer, url: '/customers/update_information', local: true) do |form| %>

<div class="field">
  <%= form.label :full_name, '氏名' %>
  <%= form.text_field :last_name %> <%= form.text_field :first_name %>
</div>

<div class="field">
  <%= form.label :full_name_kana, 'フリガナ' %>
  <%= form.text_field :last_name_kana %> <%= form.text_field :first_name_kana %>
</div>

<div>
  <%= form.label :postal_code, '郵便番号' %>
  <%= form.text_field :postal_code %> 
</div>

<div>
  <%= form.label :address, '住所' %>
  <%= form.text_field :address %> 
</div>

<div class="field">
  <%= form.label :telephone_number, '電話番号' %>
  <%= form.text_field :telephone_number %>
</div>
  
<div class="field">
  <%= form.label :email, 'メールアドレス' %>
  <%= form.email_field :email %>
</div>
  
<div class="actions">
  <%= form.submit '編集内容を保存' %>
</div>  

<%= link_to '退会する', '/customers/confirm' %>

<% end %>
