<h1>商品一覧（全<%= @items.total_count %>件）</h1>

<% @items.each do |item| %>
  <div>
    <%= image_tag item.get_image %>
    <%= link_to item.name, admin_item_path(item) %>
    <%= item.price %>
  </div>
<% end %>

<%= paginate @items %>