<h2>商品新規登録</h2>
<%= form_with(model: @item, url: admin_items_path, method: :post, local: true) do |form| %>
  <div>
    <%= form.label :商品画像 %>
    <!--画像の設定は変更あるかも-->
    <%= form.file_field :item_image %> 
  </div>

  <div>
    <%= form.label :商品名 %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :商品説明 %>
    <%= form.text_area :introduction %>
  </div>

  <div>
    <%= form.label :税抜価格 %>
    <%= form.text_field :price %>
    円
  </div>

  <%= form.submit "新規登録" %>
<% end %>