
<%= form_with(model: @item, url: admin_items_path, method: :post, local: true) do |form| %>
  <div>
    <%= form.label :商品画像 %>
    <%= form.file_field :item_image %> <!-- ここにフォームフィールドを追加します -->
  </div>

  <div>
    <%= form.label :商品名 %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :商品説明 %>
    <%= form.text_area :introduction %>
  </div>

  <div>
    <%= form.label :ジャンル %>
    <%= form.select :genre, ["ケーキ", "プリン", "焼き菓子", "キャンディ"] %>
  </div>

  <div>
    <%= form.label :税抜価格 %>
    <%= form.text_field :price %>
    円
  </div>

  <%= form.submit "新規登録" %>
<% end %>