  <div >
    <%= image_tag @item.get_image %>
  </div>

  <div >
    <h2><%= @item.name %></h2>
    <p><%= @item.introduction %></p>
    <p><%= @item.price %></p>
  </div>

<%= link_to "編集する", edit_admin_item_path(@item) %>