<h1>注文詳細</h1>

<p><strong>購入者:</strong> <%= @order.customer.last_name + @order.customer.first_name %></p>
<p><strong>注文日時:</strong> <%= @order.created_at.strftime('%Y/%m/%d') %></p>
<p><strong>支払い方法:</strong> <%= Order.payment_methods_i18n[@order.payment_method] %></p>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% total_price = 0 %>
    <% @order.order_items.each do |item| %>
      <% subtotal = item.purchase_price * item.amount %>
      <% total_price += subtotal %>
      <tr>
        <td><%= item.item.name %></td>
        <td><%= item.purchase_price %></td>
        <td><%= item.amount %></td>
        <td><%= subtotal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><strong>商品合計:</strong> <%= total_price %>円</p>
<p><strong>送料:</strong> 800円</p>
<p><strong>請求金額:</strong> <%= total_price + 800 %>円</p>


